<div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th width="20%">Nome</th>
            <th width="10%">telefones</th>
            <th width="20%">email</th>
            <th width="10%">Cep</th>
            <th width="20%">Endereço</th>
            <th width="10%">Número</th>
            <th width="10%">Cidade</th>
            <th width="10%">Bairro</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let integrante of integrantes ">
            <td>{{ integrante.nome }}</td>
            <td>{{ integrante.telefone }}</td>
            <td>{{ integrante.email }}</td>
            <td>{{ integrante.cep }}</td>
            <td>{{ integrante.endereco }}</td>
            <td>{{ integrante.numero }}</td>
            <td>{{ integrante.cidade }}</td>
            <td>{{ integrante.bairro }}</td>
            
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>